@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;900&display=swap');

*{
  font-family: 'Balsamiq Sans', cursive;
  background-color: whitesmoke;
  box-sizing: border-box;
}


a{
  color: black;
  font-style: italic;
}

.home-main-container{
  margin: 0 4vw;
}


.logo-main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vw;
}

.logo-main-container div img{
  width: 15vw;
  max-width: 250px;
  min-width: 150px;
  padding: 10px;
}

.logo-main-container h1{
  font-family: 'Raleway', sans-serif;
  font-size: 130px;
  margin-top: 5vw;
  font-weight: 900;
}

.posts-main-container{
  width: 70vw;
  margin: 0 auto;
}

.post-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.post-container p{
  width: 85%;
}

.post-link-container img{
  width: 20px;
}


footer{
  margin: 80px 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  color: rgb(26, 25, 25);
}

footer img{
  width: 60px;
}

@media only screen and (max-width: 800px){
  .logo-main-container h1{
    font-size: 100px;
  }
}

@media only screen and (max-width: 400px){
  .logo-main-container h1{
    font-size: 80px;
  }

  footer img{
    width: 30px;
  }
  
  footer{
    font-size: 10px;
  }
}